* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  overflow-x: hidden;
  height: 100%;
}
a {
  text-decoration: none;
}
/* wrapper区域 */
#wrapper {
  height: 100%;
  padding-left: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper #sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
  background-color: #fff;
}
#wrapper::-webkit-scrollbar {
  display: none;
}
#wrapper.toggled {
  padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 204px;
  border-bottom: none;
  overflow: hidden;
}
/* 左侧导航栏 */
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0 11px 0 0;
  position: absolute;
  top: 0;
  width: 220px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ddd;
}
.sidebar-nav .sidebar-brand {
  padding-top: 10px;
}
.sidebar-nav .sidebar-brand a {
  height: 120px;
  background: center no-repeat;
  background-size: contain;
  background-image: url("../imgs/logo-top.png");
}
.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li:before,
.sidebar-nav li:after {
  background-color: #ddd;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 1;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -o-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-nav li:before {
  left: 50%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, #ddd 90%);
}
.sidebar-nav li:after {
  right: 50%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0%, #ddd 90%);
}
.sidebar-nav li:nth-child(1):before,
.sidebar-nav li:nth-child(10):before,
.sidebar-nav li:nth-child(11):before,
.sidebar-nav li:nth-child(1):after,
.sidebar-nav li:nth-child(10):after,
.sidebar-nav li:nth-child(11):after {
  background: transparent;
}
.sidebar-nav li:hover:before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 50%;
}
.sidebar-nav li:hover:after {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 50%;
}
.sidebar-nav li:first-child:before,
.sidebar-nav li:first-child:after {
  background-color: transparent;
}
.sidebar-nav li a {
  color: #141914;
  z-index: 2;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  background-color: transparent;
  color: #8a6cb6;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background-color: transparent;
  color: #fbfbfb;
  text-decoration: none;
}
.sidebar-nav li:nth-child(10) {
  padding: 0 15px;
  margin: 15px 0;
}
.sidebar-nav li:nth-child(10) a:hover,
.sidebar-nav li:nth-child(10).open a:hover {
  color: #8a6cb6;
}
.sidebar-nav li:nth-child(11) {
  padding: 0 30px;
}
.sidebar-nav li:nth-child(11) a {
  width: 47px;
  height: 47px;
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url("../imgs/pc_3.png");
}
.sidebar-nav li:nth-child(11) a:nth-child(1) {
  background-position: -8px -64px;
}
.sidebar-nav li:nth-child(11) a:nth-child(2) {
  background-position: -121px -64px;
}
.sidebar-nav li:nth-child(11) a:nth-child(3) {
  background-position: -176px -64px;
}
.sidebar-nav li:nth-child(11) a:hover,
.sidebar-nav li:nth-child(11).open a:hover {
  color: #141914;
}
/* 左侧导航栏开关 */
.btn-bar {
  width: 52px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  position: absolute;
}
.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin: 10px;
  position: fixed;
  top: 5px;
  width: 32px;
  z-index: 999;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed:hover:before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 5px;
  background-color: #ddd;
}
.hamburger.is-closed .hamb-middle {
  margin-top: -2px;
  top: 50%;
  background-color: #ddd;
}
.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 5px;
  background-color: #ddd;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  margin-top: -2px;
  top: 50%;
  background-color: #ddd;
}
.hamburger.is-open .hamb-middle {
  background-color: #ddd;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #ddd;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
  color: #141914;
}
.hamburger.is-open:hover:before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
/* page区域 */
#page-content-wrapper {
  height: 100%;
  margin: 0 52px;
}
#page-content-wrapper .container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#page-content-wrapper .container .st-nav-bar {
  padding: 10px 0;
  height: 50px;
  float: left;
}
#page-content-wrapper .container .st-nav-bar .st-bar-1 > a,
#page-content-wrapper .container .st-nav-bar .st-bar-2 > a,
#page-content-wrapper .container .st-nav-bar .st-bar-3 > a,
#page-content-wrapper .container .st-nav-bar .st-bar-4 > a {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  margin: 0 10px;
  border: none;
  z-index: 99;
  color: #87807c;
}
#page-content-wrapper .container .st-nav-bar .st-bar-1 > a:hover,
#page-content-wrapper .container .st-nav-bar .st-bar-2 > a:hover,
#page-content-wrapper .container .st-nav-bar .st-bar-3 > a:hover,
#page-content-wrapper .container .st-nav-bar .st-bar-4 > a:hover {
  color: #fbfbfb;
  background-color: rgba(0, 0, 0, 0.8);
}
#page-content-wrapper .container .st-nav-bar .active > a {
  color: #fbfbfb;
  background-color: #ddd;
}
#page-content-wrapper .container .st-scroll {
  height: 100%;
  padding-top: 60px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform 0.6s ease-in-out;
  -moz-transition: transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}
#page-content-wrapper .container .st-scroll .st-panel-1,
#page-content-wrapper .container .st-scroll .st-panel-2,
#page-content-wrapper .container .st-scroll .st-panel-3,
#page-content-wrapper .container .st-scroll .st-panel-4 {
  position: relative;
  overflow: hidden;
  height: 100%;
  text-align: center;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .row,
#page-content-wrapper .container .st-scroll .st-panel-2 .row,
#page-content-wrapper .container .st-scroll .st-panel-3 .row,
#page-content-wrapper .container .st-scroll .st-panel-4 .row {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 1280px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
#page-content-wrapper .container .st-scroll .st-panel-1 .row .video-main,
#page-content-wrapper .container .st-scroll .st-panel-2 .row .video-main,
#page-content-wrapper .container .st-scroll .st-panel-3 .row .video-main,
#page-content-wrapper .container .st-scroll .st-panel-4 .row .video-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  color: #8a6cb6;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .row .video-main .video-title,
#page-content-wrapper .container .st-scroll .st-panel-2 .row .video-main .video-title,
#page-content-wrapper .container .st-scroll .st-panel-3 .row .video-main .video-title,
#page-content-wrapper .container .st-scroll .st-panel-4 .row .video-main .video-title {
  opacity: 0;
  margin-bottom: 20px;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .row .video-main .video-page,
#page-content-wrapper .container .st-scroll .st-panel-2 .row .video-main .video-page,
#page-content-wrapper .container .st-scroll .st-panel-3 .row .video-main .video-page,
#page-content-wrapper .container .st-scroll .st-panel-4 .row .video-main .video-page {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
#page-content-wrapper .container .st-scroll .st-panel-1 .row .video-main .video-page video,
#page-content-wrapper .container .st-scroll .st-panel-2 .row .video-main .video-page video,
#page-content-wrapper .container .st-scroll .st-panel-3 .row .video-main .video-page video,
#page-content-wrapper .container .st-scroll .st-panel-4 .row .video-main .video-page video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 498px;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .row .video-main .video-info,
#page-content-wrapper .container .st-scroll .st-panel-2 .row .video-main .video-info,
#page-content-wrapper .container .st-scroll .st-panel-3 .row .video-main .video-info,
#page-content-wrapper .container .st-scroll .st-panel-4 .row .video-main .video-info {
  opacity: 0;
  margin-top: 10px;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .row .video-main .video-info p,
#page-content-wrapper .container .st-scroll .st-panel-2 .row .video-main .video-info p,
#page-content-wrapper .container .st-scroll .st-panel-3 .row .video-main .video-info p,
#page-content-wrapper .container .st-scroll .st-panel-4 .row .video-main .video-info p {
  margin-top: 10px;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade {
  display: inline-block;
  vertical-align: middle;
  max-width: 1280px;
  opacity: 1;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .carousel-inner {
  border-radius: 10px;
  border: 3px solid #8a6cb6;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .carousel-inner .item:first-child {
  top: auto;
  position: relative;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .carousel-inner .item {
  top: 0;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0 !important;
  display: block !important;
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .carousel-inner .item .carousel-caption {
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0;
  top: 0;
  background-image: url("../imgs/gridtile.png");
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .carousel-inner .item .carousel-caption h1 {
  margin-top: 10%;
  opacity: 0;
  margin-bottom: 20px;
  font-size: 50px;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .carousel-inner .item .carousel-caption p {
  opacity: 0;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .carousel-inner .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .carousel-inner .item.active p {
  -webkit-animation: banner_p 1.5s forwards 1s;
  -o-animation: banner_p 1.5s forwards 1s;
  animation: banner_p 1.5s forwards 1s;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .carousel-inner .item.active #banner_1 h1 {
  -webkit-animation: banner_1 1.5s ease-in forwards;
  -o-animation: banner_1 1.5s ease-in forwards;
  animation: banner_1 1.5s ease-in forwards;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .carousel-inner .item.active #banner_2 h1 {
  -webkit-animation: banner_2 1.5s ease-in forwards;
  -o-animation: banner_2 1.5s ease-in forwards;
  animation: banner_2 1.5s ease-in forwards;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .carousel-inner .item.active #banner_3 h1 {
  -webkit-animation: banner_3 1.5s ease-in forwards;
  -o-animation: banner_3 1.5s ease-in forwards;
  animation: banner_3 1.5s ease-in forwards;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .left,
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .right {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .left:hover,
#page-content-wrapper .container .st-scroll .st-panel-1 .fade .right:hover {
  opacity: 1;
}
#page-content-wrapper .container .st-scroll .st-panel-2 {
  left: 100%;
  top: -100%;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .next_page {
  width: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 16px;
  color: #8a6cb6;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .next_page div {
  position: absolute;
  top: 22px;
  width: 100%;
  left: 0;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .next_page span {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#page-content-wrapper .container .st-scroll .st-panel-2 .next_page:hover div {
  opacity: 1;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .next_page:hover span {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#page-content-wrapper .container .st-scroll .st-panel-2 .the-1st-row,
#page-content-wrapper .container .st-scroll .st-panel-2 .the-2nd-row,
#page-content-wrapper .container .st-scroll .st-panel-2 .the-3rd-row {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
  transform: translateX(300%);
  opacity: 0;
  margin: 5px 0;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .the-1st-row {
  margin-top: 45px;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .part-desc {
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .part-desc h1 {
  font-size: 22px;
  overflow: hidden;
  max-height: 48px;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .part-desc p {
  overflow: hidden;
  max-height: 80px;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .part-desc .btn-default {
  margin-bottom: 10px;
  border: none;
  width: 100%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background-color: #fff;
  color: #8a6cb6;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .part-desc .btn-default:hover {
  color: #fbfbfb;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .part-desc:hover ~ .part-img-small img {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#page-content-wrapper .container .st-scroll .st-panel-2 .part-desc:hover ~ .part-img-big img {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#page-content-wrapper .container .st-scroll .st-panel-2 .part-img-small {
  overflow: hidden;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .part-img-small img {
  opacity: 0;
  max-height: 248px;
  width: 100%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(150%);
  -moz-transform: translateX(150%);
  -ms-transform: translateX(150%);
  -o-transform: translateX(150%);
  transform: translateX(150%);
}
#page-content-wrapper .container .st-scroll .st-panel-2 .part-img-big {
  overflow: hidden;
}
#page-content-wrapper .container .st-scroll .st-panel-2 .part-img-big img {
  opacity: 0;
  max-height: 248px;
  width: 100%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  -o-transform: translateX(-150%);
  transform: translateX(-150%);
}
#page-content-wrapper .container .st-scroll .st-panel-3 {
  left: 200%;
  top: -200%;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .above_page {
  margin-bottom: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 16px;
  color: #8a6cb6;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .above_page div {
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .above_page span {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .above_page .above_page_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .above_page .btn-more {
  width: 100%;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .above_page .btn-more .btn-default {
  border: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  font-size: 14px;
  color: #8a6cb6;
  background-color: transparent;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .above_page .btn-more .btn-default:hover {
  color: #fbfbfb;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .above_page:hover div {
  opacity: 1;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .above_page:hover span {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#page-content-wrapper .container .st-scroll .st-panel-3 .place-img,
#page-content-wrapper .container .st-scroll .st-panel-3 .place-desc {
  opacity: 0;
  margin: 5px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .place-img h1,
#page-content-wrapper .container .st-scroll .st-panel-3 .place-desc h1 {
  overflow: hidden;
  max-height: 48px;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .place-img p,
#page-content-wrapper .container .st-scroll .st-panel-3 .place-desc p {
  overflow: hidden;
  max-height: 80px;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .place-img:hover,
#page-content-wrapper .container .st-scroll .st-panel-3 .place-desc:hover {
  z-index: 99;
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
#page-content-wrapper .container .st-scroll .st-panel-3 .place-img img {
  max-height: 200px;
  box-shadow: 0 -3px 3px;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .place-desc {
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  border: 2px solid #8a6cb6;
  box-shadow: 0 3px 3px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fff;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .place-desc h1 {
  font-size: 22px;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .place-desc .btn-default {
  margin-bottom: 10px;
  border: none;
  width: 100%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background-color: #fff;
  color: #8a6cb6;
}
#page-content-wrapper .container .st-scroll .st-panel-3 .place-desc .btn-default:hover {
  color: #fbfbfb;
}
#page-content-wrapper .container .st-scroll .st-panel-4 {
  left: 300%;
  top: -300%;
}
#page-content-wrapper .container .scroll-1 {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
#page-content-wrapper .container .scroll-2 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
#page-content-wrapper .container .scroll-2 .the-1st-row {
  -webkit-animation: come-in 1.5s forwards 1s;
  -o-animation: come-in 1.5s forwards 1s;
  animation: come-in 1.5s forwards 1s;
}
#page-content-wrapper .container .scroll-2 .the-2nd-row {
  -webkit-animation: come-in 1.5s forwards 2s;
  -o-animation: come-in 1.5s forwards 2s;
  animation: come-in 1.5s forwards 2s;
}
#page-content-wrapper .container .scroll-2 .the-3rd-row {
  -webkit-animation: come-in 1.5s forwards 3s;
  -o-animation: come-in 1.5s forwards 3s;
  animation: come-in 1.5s forwards 3s;
}
#page-content-wrapper .container .scroll-3 {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
}
#page-content-wrapper .container .scroll-3 .place-1 .place-img {
  -webkit-animation: img-come 1.5s forwards ease-in-out 1s;
  -o-animation: img-come 1.5s forwards ease-in-out 1s;
  animation: img-come 1.5s forwards ease-in-out 1s;
}
#page-content-wrapper .container .scroll-3 .place-1 .place-desc {
  -webkit-animation: img-come 1.5s forwards ease-in-out 1.5s;
  -o-animation: img-come 1.5s forwards ease-in-out 1.5s;
  animation: img-come 1.5s forwards ease-in-out 1.5s;
}
#page-content-wrapper .container .scroll-3 .place-2 .place-img {
  -webkit-animation: img-come 1.5s forwards ease-in-out 2s;
  -o-animation: img-come 1.5s forwards ease-in-out 2s;
  animation: img-come 1.5s forwards ease-in-out 2s;
}
#page-content-wrapper .container .scroll-3 .place-2 .place-desc {
  -webkit-animation: img-come 1.5s forwards ease-in-out 2.5s;
  -o-animation: img-come 1.5s forwards ease-in-out 2.5s;
  animation: img-come 1.5s forwards ease-in-out 2.5s;
}
#page-content-wrapper .container .scroll-3 .place-3 .place-img {
  -webkit-animation: img-come 1.5s forwards ease-in-out 3s;
  -o-animation: img-come 1.5s forwards ease-in-out 3s;
  animation: img-come 1.5s forwards ease-in-out 3s;
}
#page-content-wrapper .container .scroll-3 .place-3 .place-desc {
  -webkit-animation: img-come 1.5s forwards ease-in-out 3.5s;
  -o-animation: img-come 1.5s forwards ease-in-out 3.5s;
  animation: img-come 1.5s forwards ease-in-out 3.5s;
}
#page-content-wrapper .container .scroll-4 {
  -webkit-transform: translateX(-300%);
  -moz-transform: translateX(-300%);
  -ms-transform: translateX(-300%);
  -o-transform: translateX(-300%);
  transform: translateX(-300%);
}
#page-content-wrapper .container .scroll-4 .video-title {
  -webkit-animation: img-come 1.5s forwards ease-in-out 1s;
  -o-animation: img-come 1.5s forwards ease-in-out 1s;
  animation: img-come 1.5s forwards ease-in-out 1s;
}
#page-content-wrapper .container .scroll-4 .video-page {
  -webkit-animation: video-come 1.5s forwards ease-in-out 2s;
  -o-animation: video-come 1.5s forwards ease-in-out 2s;
  animation: video-come 1.5s forwards ease-in-out 2s;
}
#page-content-wrapper .container .scroll-4 .video-info {
  -webkit-animation: img-come 1.5s forwards ease-in-out 1s;
  -o-animation: img-come 1.5s forwards ease-in-out 1s;
  animation: img-come 1.5s forwards ease-in-out 1s;
}
