@import "global";

//banner区文字动画
@keyframes banner_1 {
  0%{
    opacity: 0;
    #transform-rotateX(90deg);
    #transform-translateX(-200px);
  }
  70%{
    #transform-rotateX(0deg);
    #transform-translateX(20px);
  }
  80%{
    #transform-translateX(-20px);
  }
  90%{
    #transform-translateX(20px);
  }
  100%{
    opacity: 1;
    #transform-translateX(0px);
  }
}
@keyframes banner_2 {
  0%{
    opacity: 0;
    #transform-rotateY(90deg);
    #transform-translateX(200px);
  }
  70%{
    #transform-rotateY(0deg);
    #transform-translateX(-20px);
  }
  80%{
    #transform-translateX(20px);
  }
  90%{
    #transform-translateX(-20px);
  }
  100%{
    opacity: 1;
    #transform-translateX(0px);
  }
}
@keyframes banner_3 {
  0%{
    opacity: 0;
    #transform-rotateX(90deg);
  }
  70%{
    #transform-rotateX(-30deg);
  }
  80%{
    #transform-rotateX(30deg);
  }
  90%{
    #transform-rotateX(-30deg);
  }
  100%{
    opacity: 1;
    #transform-rotateX(0deg);
  }
}
@keyframes banner_p {
  0%{
    opacity: 0;
    #transform-translateX(500px);
  }
  70%{
    #transform-translateX(-10px);
  }
  80%{
    #transform-translateX(10px);
  }
  90%{
    #transform-translateX(-10px);
  }
  100%{
    opacity: 1;
    #transform-translateX(10px);
  }
}

//wedding头部文字区域进场动画
@keyframes wedding_header {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
//wedding图片进场动画
@keyframes wedding_img {
  0%{
    opacity: 0;
  }
  100%{
    opacity: .6;
  }
}

//图片加载时动画
@keyframes load_left_right {
  0%{
    opacity: 0;
    #transform-translateX(-100%);
  }
  100%{
    opacity: 1;
    #transform-translateX(0%);
  }
}
@keyframes load_right_left {
  0%{
    opacity: 0;
    #transform-translateX(100%);
  }
  100%{
    opacity: 1;
    #transform-translateX(0%);
  }
}
@keyframes load_up_down {
  0%{
    opacity: 0;
    #transform-translateY(-100%);
  }
  100%{
    opacity: 1;
    #transform-translateY(0%);
  }
}
@keyframes load_down_up {
  0%{
    opacity: 0;
    #transform-translateY(100%);
  }
  100%{
    opacity: 1;
    #transform-translateY(0%);
  }
}
//文字加载时动画
@keyframes load_word_small_big {
  0%{
    opacity:0;
    #transform-scaleX-Y(0,0);
  }
  100%{
    opacity:1;
    #transform-scaleX-Y(1,1);
  }
}

//点我 动画
@keyframes click_me {
  0%{
    #transform-translateY(0);
  }
  12.5%{
    #transform-translateY(5px)
  }
  25%{
    #transform-translateY(0);
  }
  37.5%{
    #transform-translateY(-5px)
  }
  50%{
    #transform-translateY(0);
  }
  62.5%{
    #transform-translateY(5px)
  }
  75%{
    #transform-translateY(0);
  }
  87.5%{
    #transform-translateY(-5px)
  }
  100%{
    #transform-translateY(0);
  }
}