@import "global";

//banner区文字动画
@keyframes banner_1 {
  0%{
    opacity: 0;
    #transform-rotateX(90deg);
    #transform-translateX(-200px);
  }
  70%{
    #transform-rotateX(0deg);
    #transform-translateX(20px);
  }
  80%{
    #transform-translateX(-20px);
  }
  90%{
    #transform-translateX(20px);
  }
  100%{
    opacity: 1;
    #transform-translateX(0px);
  }
}
@keyframes banner_2 {
  0%{
    opacity: 0;
    #transform-rotateY(90deg);
    #transform-translateX(200px);
  }
  70%{
    #transform-rotateY(0deg);
    #transform-translateX(-20px);
  }
  80%{
    #transform-translateX(20px);
  }
  90%{
    #transform-translateX(-20px);
  }
  100%{
    opacity: 1;
    #transform-translateX(0px);
  }
}
@keyframes banner_3 {
  0%{
    opacity: 0;
    #transform-rotateX(90deg);
  }
  70%{
    #transform-rotateX(-30deg);
  }
  80%{
    #transform-rotateX(30deg);
  }
  90%{
    #transform-rotateX(-30deg);
  }
  100%{
    opacity: 1;
    #transform-rotateX(0deg);
  }
}
@keyframes banner_p {
  0%{
    opacity: 0;
    #transform-translateX(500px);
  }
  70%{
    #transform-translateX(-10px);
  }
  80%{
    #transform-translateX(10px);
  }
  90%{
    #transform-translateX(-10px);
  }
  100%{
    opacity: 1;
    #transform-translateX(10px);
  }
}

//wedding头部文字区域进场动画
@keyframes wedding_header {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
//wedding图片进场动画
@keyframes wedding_img {
  0%{
    opacity: 0;
    //#transform-rotateY(-50deg)
  }
  //20%{
  //  #transform-rotateY(0deg)
  //}
  //36%{
  //  #transform-rotateY(40deg)
  //}
  //52%{
  //  #transform-rotateY(0deg)
  //}
  //64%{
  //  #transform-rotateY(-30deg)
  //}
  //76%{
  //  #transform-rotateY(0deg)
  //}
  //84%{
  //  #transform-rotateY(20deg)
  //}
  //92%{
  //  #transform-rotateY(0deg)
  //}
  //96%{
  //  #transform-rotateY(-10deg)
  //}
  100%{
    opacity: .6;
    //#transform-rotateY(0deg)
  }
}